body{
	background-color: lavender;
}
.table{
	width: 800px;
	margin: 0;
	padding: 0;
	border-spacing: 0px;
	border-collapse: collapse;	
	border: 1px solid;
}
.table th{
	background-color:#FF2;
	margin: 0;
	padding: 4px 6px;
	border: 1px solid;

}
.table td{
	text-align: center;
	margin: 0;
	padding: 4px;
	border: 1px solid;
}
label{
	float: left;
	width: 100px;
}
.dki{
	font-weight:bold;
}
.text{
	width: 180px;
	margin-bottom: 5px;
}
.radio{
	margin-left: 80px;
}
.submit{
	margin-left: 80px;
}